/* importing `inter` font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Universal Changes  */
*{
   border: 0 ; 
   padding: 0 ; 
   margin: 0 ; 
   
   box-sizing: border-box ; 
   font-family: 'inter' ;
   
   position: relative ; 
   z-index: 1;
}

 /* background image  */
.bg{
   height: 90vh ;
   width: 100vw ; 
   background-image: url('./assets/background-image.jpeg'); 
   background-repeat: no-repeat;
   background-size:cover ; 
   
 /* background-overlay ; */
   &::before{
      height: 100% ;
      width: 100% ; 
      
      top : 0 ; 
      left: 0 ; 
      
      content: '';
      background-color: rgb(0,0,0,0.5);
      position: absolute ; 
      z-index: 0;
   }
}

.bg .header{
   height: 11vh ; 
   
   display: flex; 
   justify-content: space-between ;
   align-items: center ;
}

.bg .header .head-logo{
   height: 3rem ; 
   width: 4rem  ; 
   background-image: url('./assets/01_9b6c8f49-fd17-46b8-812f-bd3dc7e8f269.svg');
   background-repeat: no-repeat;
   background-size: contain;
   
 /* to paint the black logo green.  */
   filter: invert(1) sepia(1) saturate(10000%) hue-rotate(68deg);
   
   margin-left: 2.5rem ; 
}

.bg .header .head-login-btn{
   height: 2.4rem ;
   width: 5.5rem ;

   font-size: 1rem ; 
   font-weight: 700;

   color: rgba(210, 210, 210, 0.718) ; 
   background-color: transparent;

   border-radius: .4rem ; 
   /* padding : .2rem ; */

   margin-right: 2.5rem ; 
   
 /* on hover changes  */
   &:hover{
      background-color: rgba(155, 154, 154, 0.51);
      transition: 0.5s ease ;
   }
}
